<div id="footerForTchat" style="position: fixed; bottom:0; height: 50px; width: 100%; background-color: white;">
	<div class="row">
		<div class="col-md-3"> <h4 style="text-align: center" class="titleBMD"> Messagerie instantanée </h4> </div>
		<div class="col-md-2"> 	        
			<a href="#">
		    	<span class="inner-addon">
					<i id="loupe_search_dj" class="glyphicon glyphicon-search"></i>
				    <input class="StreamsTopBar-searchInput" type="text" id="search-query-tchat" placeholder="Recherche par pseudo" name="name">
		            {% include 'discussionBox.html.twig' %}
			  	</span>
			</a> 
		</div>
		<div class="col-md-7">
			<div id="liste_tchat">  </div>
		</div>
	</div>
</div>