<button type="button" class="button_chat js-trigger" ng-click="canchat()">Chat ({[{useronline.length}]})</button>
<nav class="chat" ng-show="showme">>
<button type="button" class="btn btn-danger" id="closechat" ng-click="showme=!showme">X</button>
    <h2 class="chat__users"></h2>
    <ul class="chat__wrapper">
    		<li ng-repeat="user in useronline" class='chat__human'>
    		 <img class="chat__avatar" ng-src="{{asset('uploads/dj_photos/')}}{[{user.path}]}"  alt="{[{user.path}]}" />
    		 <span class="chat__name">{[{user.userName}]}</span>
    		</li>
	<!-- A NE PAS SUPPRIMER ! -->
    </ul>
</nav>

<div class="all_conversation">
	<div class="conversation">
	    <div class="conversation__header"></div>
	    <ul class="conversation__wrap">
	 	<!-- A NE PAS SUPPRIMER ! -->
	    </ul>
	    
	    <input class="input_chat" type="text" />
	</div>
</div>