<!-- LIB JS -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjRI3sxSGljeb_mtuamWHQdjQRriwYz08&amp&callback=initMap"> </script>

<div class="tab-footer" ng-controller="FooterController">
<button type="button" class="btn btn-secondary review" ng-click="userReview()">Ton avis</button>
</div>
