	 {% if app.user and app.user.isDj() and own is null %}
	 <div id="vues" class="tab-pane fade">
	 <p>Les clients qui ont vus mon profil</p>
	 
	 <table class="mystream">
	 	<tr> <th> Pseudo du client </th> <th> Date </th> </tr>
			<tr ng-repeat="view in views">
			<td  >{[{ view.userName}]}</td>
			<td  >{[{ view.date.date | parseDate |date:'dd/MM/yyyy HH:mm'}]}</td>
			</tr>
		</table>
    </div>

     <div id="streams" class="tab-pane fade">
         <h4>Mes demandes de streams</h4>
    	<table class="mystream">
	 	<tr> <th data-checkbox="true"></th> <th> Auteur </th> <th> Date de debut </th> <th> Date de fin </th> </tr>
			<tr ng-repeat="stream in streams">
			   			<td><input type="checkbox"  ng-model="checkStatus"
     ng-change="stateChanged(checkStatus)" class="events" eventid="{[{ stream.id}]}" /></td>
						<td onclick="selectRow(this)" >{[{ stream.auteur}]}</td>
						<td onclick="selectRow(this)" >{[{ stream.dateStart.date | parseDate |date:'dd/MM/yyyy HH:mm'}]}</td>
						<td onclick="selectRow(this)" >{[{ stream.dateEnd.date | parseDate | date:'dd/MM/yyyy HH:mm'}]}</td>
			</tr>
		</table>
		<div ng-show="streamcheck > 0" class="streamsbutton">
		<button type="button" class="btn btn-success" ng-click="validestream()">Accepter</button>
		<button type="button" class="btn btn-danger"  ng-click="refusestream()">Refuser</button>
		</div>
    </div>
        {%endif%}
     <div id="calendrier" class="tab-pane fade">
		<div class="dispo">
			<h4 class="titleBMD"><span class="glyphicon glyphicon-calendar "></span> Mes disponibilités</h4>
			{% include 'ADesignsCalendarBundle::calendar.html.twig' %}
		</div>
    </div>
    
    <div id="gestions" class="tab-pane fade">
		<form id="edition_form">
		<div class="col-md-7">
						<div class="form-group ">
							<label class="labelBMD" for="lastname"><i
								class="fa fa-user" aria-hidden="true"></i></label> <input
								class="inputBMD" placeholder="Nom" name="lastname" value="{{ app.user.lastname }}"/>
						</div>
						<div class="form-group ">
							<label class="labelBMD" for="firstname"><i
								class="fa fa-user" aria-hidden="true"></i></label> <input
								class="inputBMD" placeholder="Prénom" name="firstname" value="{{ app.user.firstname }}"/>
						</div>
						<div class="form-group ">
							<label class="labelBMD" for="password"><i
								class="fa fa-lock" aria-hidden="true"></i></label> <input id="editPassword"
								type="password" class="inputBMD" placeholder="Mot de passe"
								name="password" /><span class="errorEdit"></span>
						</div>
						<div class="form-group  ">
							<label class="labelBMD" for="password"><i
								class="fa fa-lock" aria-hidden="true"></i></label> <input id="editPasswordConfirm"
								type="password" class="inputBMD" placeholder="Confirmation du mot de passe"
								name="passwordSecure" /><span class="errorEdit"></span>
						</div>
						<div class="form-group">
							<span type="submit"
								class="col-md-12" id="submitEdit">	<img 	src="{{ asset('images/gravure.png')}}"  > 
								 </span>
						</div>
						</div>
			</form>
    </div>
   