{% block sidebar %}
    <div class="col-md-2">
        <ul>
            <li><a id="home" href="{{path('homepage')}}">Accueil</a></li>
            <li><a id="profil" href="{{path('profil')}}">Mon profil</a></li>
            <li><a id="liste_dj" href="{{path('liste_dj')}}">Nos DJ</a></li>
            <li><a id="music" href="#Musique">Aperçu musical</a></li>
            <li><a id="recherche" href="#recherche">Rechercher un DJ</a></li>            
        </ul>
    </div>
{% endblock %}