{% extends 'base.html.twig' %}

{% block body %}
	<script src="https://cloud.apizee.com/apiRTC/apiRTC-latest.min.js"></script>

    <div class="container master grey lighten-5">
        <div class="row">
        	<div class="col-md-12">
				<h4> En attente de connexion </h4>
				<hr>
				{% if currentUserRole == 3 %}
					<p> Aucun client n'est présent dans la session. </p>
	        	{% else %}	
					<button href="#" onclick="apiCC.session.apiCCWebRTCClient.call({{DJID}});">
						Rejoindre la session
					</button>
			   	{% endif %}
				<!--
	            <div id="command"></div>
	            <div id="status"></div>
				-->
	            <div id="local" style="position: absolute; width:640px; height:480px;"><video id="myLocalVideo" autoplay="autoplay" muted="true"></video></div>
	            <div id="remote" style="position: absolute;">
	                <div id="myRemoteVideo" style="width:640px; height:480px;"></div>
	                <div id="mini"><video width="20%" height="20%" id="myMiniVideo" autoplay="autoplay" muted="true"></video></div>
	            </div>
            </div>
        </div>
    </div><!-- /.container -->

<!-- Compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
{% endblock %}

{% block javascripts %}
    <script>
        'use strict';
        //ApiRTC Client Code
        apiRTC.init({
            apiKey : "b35f94f9b924b8508414959c8f502cf4",
            apiCCId : "{{currentUserId}}",
            onReady : function () {
				var idRoom = apiRTC.session.apiCCId;
                console.log('Session created with sessionId :' + idRoom);
                var webRTCClient = apiRTC.session.createWebRTCClient({
                    localVideo : "myLocalVideo",
                    minilocalVideo : "myMiniVideo",
                    remoteVideo : "myRemoteVideo",
                    status : "status",
                    command : "command"
                });
            }
        });
    </script>
{% endblock %}
